<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoHttp" version="1.5.2" targetFramework="net471" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="FluentFTP" version="37.0.3" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.21.1" targetFramework="net471" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net471" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net471" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.29" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net471" />
</packages>